<button mat-raised-button *ngIf="!start" (click)="sleep()" style="background-color:white; color:black;" >
   I want to play
</button>

<button mat-raised-button  *ngIf="users_found" color="primary" (click)="showQuestions()">Let's Play</button>


<div *ngIf="start && !gameOver">
      <mat-card class="questions">
         <h2>{{currentQuestion.questionGiven}}</h2>
         <button class="end" *ngIf="!gameOver" mat-raised-button (click)="endGame()">End Game</button>
         <br>
         <mat-radio-group class="radio-group" [disabled]="isDisabled">
            <mat-radio-button class="radio-button"  *ngFor="let o of currentQuestion?.questionOptions" [value]="o.optionsId" style="color:white" (click)="scoreCalculator(o); isDisabled=true">
                {{o.optionGiven}}<br>
             </mat-radio-button>
         </mat-radio-group>
         <br>
         <!-- <button class="end" *ngIf="!gameOver" mat-raised-button (click)="endGame()">End Game</button> -->
      </mat-card>

      <mat-grid-list cols="2" rowHeight="5:1">
        <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
        <mat-grid-tile>{{forignuser}}:<br>{{ forignUserScore }}</mat-grid-tile>
      </mat-grid-list>

</div>

<div id="clock" *ngIf="!gameOver">
  {{counter}}
</div>

<mat-card *ngIf="gameOver && score>forignUserScore">You Win<br>
    <button mat-raised-button color="primary" [routerLink]="['/play']">
        Go Back</button>
</mat-card>
<mat-card *ngIf="gameOver && score<forignUserScore">Opponent Wins<br>
    <button mat-raised-button  color="primary" [routerLink]="['/play']">
        Go Back</button>
</mat-card>
<mat-card *ngIf="gameOver && score===forignUserScore">It's a Draw<br>
    <button mat-raised-button  color="primary" [routerLink]="['/play']">
        Go Back</button>
</mat-card>
<!-- <script> -->
<!-- function disableButton(){ -->
  <!-- console.log("radio-button disabled"); -->

<!-- } -->
<!-- </script> -->
