.quizrt-l-container {
  height: 100vh;
  width: 100%;
  background: #403dd5;
  /* box-sizing: border-box; */
}
.quizrt-c-gameplay {
  height: 100vh;
  width: 100%;
  background: #403dd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizrt-c-gameplay__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizrt-c-gameplay__loader__image {
  height: 100px;
  width: 100px;
}

.quizrt-c-text {
  color: white;
}

.quizrt-c-gameplay__loader__msg {

  margin-top: 20px;
}

.questions{
  width:80%;
  /* opacity: 0; */
  margin: auto;
  margin-top:5rem;
  font-size: 25px;
  color:#021C27;
  border-color:#021C27;
  background-color: whitesmoke;
  border-radius: 8px;
  border-width: 10px;
  /* box-shadow: 20px 10px 10px #021C27; */
  /* z-index: 100; */
}
.options{
  display: inline-flex;
  flex-direction: column;
  width:80%;
  /* opacity: 0; */
  margin: auto;
  color:#021C27;
  background-color:whitesmoke;

  }


#clock{
  width:30%;
  height: 3rem;
  margin: auto;
  background-color:#02C39A;
  /* background-color: #05668D; */
  font-size: 20px;
  color:white;
  text-align: center;

 }
mat-grid-tile {
  background-color:#028090;
  color: white;
  width:80%;
  /* opacity: 0; */
  margin: auto;
}

mat-grid-list{
  width:80%;
  /* opacity: 0; */
  margin: auto;
 /* font-size: 25px; */
 background-color:#028090;
}

.end{
  position: absolute;
  top: 90%;
    left: 90%
}

.noOpponent{
  color: #02C39A;
  font-size: 25px;
}
.back{

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  /* width:60%; */
  /* margin-left: 20%; */
  font-size: 25px;
  align-content: center;
  background: #403dd5;
  font-style: normal;
  align-items: center;
  justify-content: space-between;
}


.back_button{
  margin-right: 55px;
  background-color: white;
}
.result{
    /* width:60%;
    height:60%; */
    margin:auto;
    margin-top:5rem;
    color:white;
    background: #403dd5;
}
.result .button{
  margin-left: 10%;
   color: #028090;
   font-style: bold;
   font-size: 25px;
   width: 30%;
}
 .two-players{
   background-color:#403dd5;
   width:100%;
   height:100%;
   box-sizing: border-box;
 }


@media(max-width:767px){
  .play{
    height:3rem;
    margin-left: 40%;
    font-size: 15px;
    width: 30%;
   }
   .questions{
    font-size: 15px;
    margin-top: 3rem;
  }

 .result{
  margin-top: 7rem;
 }
.result .button{
 font-size: 15px;
}
 mat-grid-list{
  width:80%;
  margin: auto;
 font-size: 15px;
 text-align: center;

}
#clock{
  font-size: 15px;
  height: 2rem;
}

}

