#clock{
  width:10rem;
  background-color: black;
  font-family: cursive;
  font-size: 2rem;
  color:white;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-left: 40%;
  margin-right: 40%;
}

.questions{
  width:80%;
  height: 30rem;
  background-color: aqua;
  background-image: url('/src/assets/img/ques.jpg');
  background-size: cover;
  margin-left:10rem;
  border-bottom:5rem;
  color: white;
 }

/* .abc
{
text-align:center;
justify-content:center;
} */

.radio-group{
  display: inline-flex;
  flex-direction: column;
 }

 mat-grid-tile {
  background: rgb(166, 255, 0);
}

mat-grid-list{
  width: 80%;
  margin-left: 10rem;
font-size: 20px;
}

.end{
  position: absolute;
  top: 90%;
    left: 90%
}


@media(max-width:600px){
  .questions{
    width:80%;
    height: 20rem;
    /* background-color: aqua; */
    background-image: url('/src/assets/img/single.jpg');
    background-size: cover;
    margin-left:2rem;
    border-bottom:1rem;
    font-size: 15px;
    color: white;
   }

    mat-grid-list{
      width: 80%;
      height: 5rem;
      font-size: 15px;
      margin-left:2rem;
    }

    .ques{
      font-size:20px;
    }

    #clock{

      width:25rem;
      background-color: black;
      font-family: cursive;
      font-size: 2rem;
      color:white;
      text-align: center;
      position: fixed;
      bottom: 0;
      margin-left: 0%;
      margin-right: 12rem;
    }
 }
