/* .topic{
  width: 100%;
  margin: auto;
  background-color: #02C39A;
  color: white;
  height: 5rem;
  font-size: 25px;
  text-align: center;
}
.play{ */
  /* margin-bottom:30%; */
  /* margin-left: 30%;
  height:3rem;
  background-color: #02C39A;
  color: white;
  font-style: bold;
  font-size: 25px;
  width: 40%;
} */
/* .opponent{
  color: #02C39A;
  font-size: 25px;
} */
#clock{
  width:30%;
  height: 3rem;
  margin: auto;
  background-color:#02C39A;
  /* background-color: #05668D; */
  font-size: 20px;
  color:white;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0;
  margin-left: 40%;
  margin-right: 40%; */
 }

.questions{
  width:80%;
  /* opacity: 0; */
  margin: auto;
  font-size: 25px;
  color:white;
  background-color:#02C39A;
}
.options{
  display: inline-flex;
  flex-direction: column;
  width:80%;
  /* opacity: 0; */
  margin: auto;
  color:white;
  background-color:#02C39A;
  }

button{
  margin-top:3rem;
  margin-left: 18rem;
   /* width:5rem; */
  height:3rem;
  font-style: bold;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: #05668D;
  border-radius: 10px;
  color: white;
  width: 50%;
  height:3rem;
  transition:0.5s;
  opacity:1;
 }

 button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover{
  color:#05668D;
}
button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
 button:hover:after{
    width: 100%;
}



 mat-grid-tile {
  background-color:#028090;
  color: white;
  width:80%;
  /* opacity: 0; */
  margin: auto;
}

mat-grid-list{
  width:80%;
  /* opacity: 0; */
  margin: auto;
 /* font-size: 25px; */
 background-color:#028090;
}

.end{
  position: absolute;
  top: 90%;
    left: 90%
}

.noOpponent{
  color: #02C39A;
  font-size: 25px;
}
.back{
  margin-left: 30%;
  height:3rem;
  background-color: #02C39A;
  color: white;
  font-style: bold;
  font-size: 25px;
  width: 30%;
}
.result{
  color: #02C39A;
  width:80%;
  margin: auto;
  font-size: 40px;
}
.result .button{
  margin-left: 10%;
   color: #028090;
   font-style: bold;
   font-size: 25px;
   width: 30%;
}


@media(max-width:767px){
  .play{
    height:3rem;
    margin-left: 40%;
    font-size: 15px;
    width: 30%;
   }
  .questions{
    font-size: 20px;
  }

 .result{
   font-size: 20px;
 }

 mat-grid-list{
  width:80%;
  margin: auto;
 font-size: 15px;
 text-align: center;

}
#clock{
  font-size: 15px;
  height: 2rem;
}

}

