<input class="topic" *ngIf="!TopicSelected" type="text" name="EnterTopic" [(ngModel)]="topic">
<br>
<button class="play" mat-raised-button *ngIf="!TopicSelected" (click)="sleep()">Let's Play</button>

<div class="opponent" *ngIf="!start && Waiting">
  Waiting for opponent to join...
</div>



<div *ngIf="start && !gameOver">
  <mat-card class="questions">
    {{currentQuestion.question}}
    <br>
    <br>
    <mat-radio-group class="options">
      <mat-radio-button class="radio-button" *ngFor="let o of options" [value]="o" (click)="scoreCalculator(o)">
        {{o.optionName}}<br>
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>
    <!-- <button class="end" *ngIf="!gameOver" mat-raised-button (click)="endGame()">End Game</button> -->
  <!-- <mat-card>{{this.currentQuestion}}</mat-card> -->

  <!-- <mat-grid-list cols="2" rowHeight="5:1.5"> -->
      <mat-grid-list cols="2" >
    <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
    <mat-grid-tile>{{otherUser}}:<br>{{ otherUserScore }}</mat-grid-tile>
  </mat-grid-list>
         <br>
         <!-- <button class="end" *ngIf="!gameOver" mat-raised-button (click)="endGame()">End Game</button> -->
      <!-- <mat-card>{{this.currentQuestion}}</mat-card> -->
      <!-- <mat-grid-list cols="2" rowHeight="5:2" fxShow="false" fxHide.lt-md="false">
        <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
        <mat-grid-tile>{{otherUser}}:<br>{{ otherUserScore }}</mat-grid-tile>
      </mat-grid-list>
             <br> -->
</div>

<mat-card class="noOpponent" *ngIf="!start && gameOver">
  Players not found...Go Back
  <button class="back" mat-raised-button color="primary" [routerLink]="['/play']">
    Go Back</button>
</mat-card>

<div id="clock" *ngIf="start && !gameOver">
  {{counter}}
</div>


<div class="result">
<mat-card *ngIf="start && gameOver && score>otherUserScore">You Win<br>
  <button mat-raised-button color="primary" [routerLink]="['/play']">
    Go Back</button>
</mat-card>
<mat-card *ngIf="start && gameOver && score<otherUserScore">Opponent Wins<br>
  <button mat-raised-button color="primary" [routerLink]="['/play']">
    Go Back</button>
</mat-card>
<mat-card *ngIf="start && gameOver && score===otherUserScore">It's a Draw<br>
  <button mat-raised-button color="primary" [routerLink]="['/play']">
    Go Back</button>
</mat-card>
</div>

<!-- <script> -->
<!-- function disableButton(){ -->
<!-- console.log("radio-button disabled"); -->

<!-- } -->
<!-- </script> -->