.quizrt-c-gameplay {
  height: 100vh;
  width: 100%;
  background: #403dd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizrt-c-gameplay__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quizrt-c-gameplay__loader__image {
  height: 100px;
  width: 100px;
}

.quizrt-c-text {
  color: white;
}

.quizrt-c-gameplay__loader__msg {

  margin-top: 20px;
}

.questions{
  width:80%;
  /* opacity: 0; */
  margin: auto;
  margin-top:5rem;
  font-size: 25px;
  color:#021C27;
  border-color:#021C27;
  background-color: #838568;
  border-radius: 10px;
  border-width: 10px;
  box-shadow: 20px 10px 10px #021C27;
  z-index: 100;
}

#clock{
  width:30%;
  height: 3rem;
  margin: auto;
  background-color:#02C39A;
  /* background-color: #05668D; */
  font-size: 20px;
  color:white;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0;
  margin-left: 40%;
  margin-right: 40%; */
 }

/* .questions{
  width:80%; */
  /* opacity: 0; */
  /* margin: auto;
  font-size: 25px;
  color:white;
  background-color:#02C39A;
} */
.options{
  display: inline-flex;
  flex-direction: column;
  width:80%;
  /* opacity: 0; */
  margin: auto;
  color:white;
  background-color:#02C39A;
  }

  button::after{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

button{
  margin-top:3rem;
  /* margin-left: 18rem; */
   /* width:5rem; */
  height:3rem;
  font-style: bold;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: #05668D;
  border-radius: 10px;
  color: white;
  width: 50%;
  height:3rem;
  transition:0.5s;
  opacity:1;
 }

 button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover{
  color:#05668D;
}
button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
 button:hover:after{
    width: 100%;
}



 mat-grid-tile {
  background-color:#028090;
  color: white;
  width:80%;
  /* opacity: 0; */
  margin: auto;
}

mat-grid-list{
  width:80%;
  /* opacity: 0; */
  margin: auto;
 /* font-size: 25px; */
 background-color:#028090;
}

.end{
  position: absolute;
  top: 90%;
    left: 90%
}

.noOpponent{
  color: #02C39A;
  font-size: 25px;
}
.back{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width:60%;
  margin-left: 20%;
  font-size: 25px;
  align-content: center;
  background-color: #02C39A;
  font-style: normal;
  align-items: center;

}
.result{
  color: #02C39A;
  width:80%;
  margin: auto;
  font-size: 40px;
}
.result .button{
  margin-left: 10%;
   color: #028090;
   font-style: bold;
   font-size: 25px;
   width: 30%;
}


@media(max-width:767px){
  .play{
    height:3rem;
    margin-left: 40%;
    font-size: 15px;
    width: 30%;
   }
  .questions{
    font-size: 20px;
  }

 .result{
   font-size: 20px;
 }

 mat-grid-list{
  width:80%;
  margin: auto;
 font-size: 15px;
 text-align: center;

}
#clock{
  font-size: 15px;
  height: 2rem;
}

}

