<div class="quizrt-l-container">
    <button mat-raised-button (click)="Home()">Home</button>
    <button mat-raised-button class="end" (click)="EndGame()">End Game</button>
    <div>You are playing {{topic}} with {{otherUser}}</div>
  <div class="quizrt-c-gameplay" *ngIf="!start && !gameOver">
  <div *ngIf="waiting; else gameplay" class="quizrt-c-gameplay__loader">
    <img class="quizrt-c-gameplay__loader__image" src="./assets/img/gameplay-loader.gif" alt="" srcset="">
    <h5 class="quizrt-c-gameplay__loader__msg quizrt-c-text">Waiting for the Opponent to join</h5>
  </div>
  <ng-template #gameplay>
    <div *ngIf="noOpponentsFound; else opponentsFound">
      <div class="quizrt-c-text">Oops! Couldn't find any opponents</div>
      <div class="back">
      <button mat-raised-button (click)="Route()" class="back_button">Play Single</button>
      <button mat-raised-button (click)="Home()">Home</button>
      </div>
    </div>
    <ng-template #opponentsFound>
      <div class="quizrt-c-text">
        OpponentsFound
      </div>
    </ng-template>
  </ng-template>
</div>

<div *ngIf="start && !gameOver">
  <mat-card class="questions question-start-timer">
    <mat-card-title class="question-title">
    {{currentQuestion.question}}
  </mat-card-title>

  <mat-button-toggle-group class="options"  cols="2" [disabled]="answered">
      <mat-button-toggle *ngFor="let o of options" (click)= "scoreCalculator(o); answered=true;">{{o}}</mat-button-toggle>
    </mat-button-toggle-group>

  </mat-card>

  <mat-grid-list cols="2" rowHeight="5:1.5"  class="score">
    <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
    <mat-grid-tile>{{otherUser}}:<br>{{ otherUserScore }}</mat-grid-tile>
  </mat-grid-list>
</div>




<div class="result">
  <mat-card *ngIf="start && gameOver && score>otherUserScore">You Win<br>
    <!-- <button mat-raised-button (click)="Home()"> -->
      <!-- Home</button> -->
  </mat-card>
  <mat-card *ngIf="start && gameOver && score<otherUserScore">Opponent Wins<br>
    <!-- <button mat-raised-button (click)="Home()"> -->
      <!-- Home</button>` -->
  </mat-card>
  <mat-card *ngIf="start && gameOver && score === otherUserScore">It's a Draw<br>
    <!-- <button mat-raised-button (click)="Home()"> -->
      <!-- Home</button> -->
  </mat-card>
</div>

<!-- <progress-bar *ngIf="start && !gameOver" [progress]="counter*10" [color-degraded]="{'10': '#1B7397', '20': '#05668D', '30':'#055D81','40': '#055474','50': '#044B67','60': '#04415A','70': '#03384D','80': '#032F41','90': '#022634','100': '#021C27'}"> -->
<!-- </progress-bar> -->
</div>

