<div class="quizrt-l-container">
  <div class="single-player" *ngIf="!start && TopicSelected">
    <img class="quizrt-c-gameplay__loader__image" src="./assets/img/gameplay-loader.gif" alt="" srcset="">
    <div class="waiting" *ngIf="!start && TopicSelected">Starting Quiz</div>
  </div>
  <div *ngIf="start && !gameOver" class=" md-elevation-z24 question-container">
    <div *ngIf="start && !gameOver" class="score">
      Your Score is {{score}}
    </div>
    <mat-card class="questions question-start-timer">
      <mat-card-title class="question-title">
        {{currentQuestion.question}}
      </mat-card-title>
      <!-- <mat-card-header> -->
      <!-- </mat-card-header> -->
      <!-- <mat-card-content> -->
        <!-- <mat-radio-group class="options" ng-disabled="answered"> -->
          <!-- <mat-radio-button class="radio-button" *ngFor="let o of options" [value]="o" (click)="scoreCalculator(o); answered = true"> -->
            <!-- {{o}} -->
          <!-- </mat-radio-button> -->
        <!-- </mat-radio-group> -->
      <!-- </mat-card-content> -->
      <mat-button-toggle-group class="options" [disabled]="!answered">
        <mat-button-toggle *ngFor="let o of options" (click)= "scoreCalculator(o); answered=true;">{{o}}</mat-button-toggle>
      </mat-button-toggle-group>

    </mat-card>
  </div>

  <!-- </div> -->


  <mat-card class="gameover" *ngIf="start && gameOver">
    <mat-card-title>Your Final Score is {{score}} </mat-card-title>
    <button mat-raised-button class="goBack" (click)="Home()">Home</button>
    <br><br>
    </mat-card>
</div>
