<button mat-raised-button (click)="sleep()" style="background-color:black; color:white;" >
  I want to play
</button>

<button mat-raised-button *ngIf="users_found"  color="primary" (click)="showQuestions()">Let's Play</button>

<div class="abc" *ngIf="counter>=1 && !gameOver">
  <mat-card class="mc">
      <h2 style="color:white">{{currentQuestion.questionGiven}}</h2><br>
      <mat-radio-group class="radio-group">
         <mat-radio-button class="radio-button" *ngFor="let o of currentQuestion?.questionOptions" [value]="o.optionsId" style="color:white" (click)="scoreCalculator(o)">
           {{o.optionGiven}}<br>
          </mat-radio-button>
      </mat-radio-group>
      <br>
  </mat-card>


  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
    <mat-grid-tile>{{arr[0]}}:<br>{{ score1[0] }}</mat-grid-tile>
    <mat-grid-tile>{{arr[1]}}:<br>{{ score1[1] }}</mat-grid-tile>
  </mat-grid-list>


</div>

<mat-card *ngIf="gameOver">Your Score: {{score}}<br>Highest Score: {{max1}}</mat-card>
<!-- <mat-card *ngIf="gameOver && score<forignUserScore">Opponent Wins</mat-card>
<mat-card *ngIf="gameOver && score===forignUserScore">It's a Draw</mat-card> -->

<div id="clock" *ngIf="!gameOver">
{{counter}}
</div>

