<input class="topic"  *ngIf="!TopicSelected" type="text" name="EnterTopic" [(ngModel)]="topic">
<button  class="play" mat-raised-button *ngIf="!TopicSelected" (click)="sleep()">Let's Play</button>

<div *ngIf="!start && Waiting" >
  Waiting for opponent to join...
</div>

<div *ngIf="start && !gameOver">
  <mat-card class="questions">
      <h2 >{{currentQuestion.question}}</h2><br>
      <mat-radio-group class="options">
         <mat-radio-button class="radio-button" *ngFor="let o of options" [value]="o" (click)="scoreCalculator(o)">
           {{o.optionName}}<br>
          </mat-radio-button>
      </mat-radio-group>
      <br>
  </mat-card>


  <mat-grid-list cols="3" rowHeight="5:1">
    <mat-grid-tile>{{username}}: <br> {{ score }}</mat-grid-tile>
    <!-- <mat-grid-tile>{{arr[0]}}:<br>{{ score1[0] }}</mat-grid-tile>
    <mat-grid-tile>{{arr[1]}}:<br>{{ score1[1] }}</mat-grid-tile> -->
  </mat-grid-list>


</div>

<mat-card class="noOpponent" *ngIf="!start && gameOver">
  Players not found...Go Back
  <button mat-raised-button color="primary" [routerLink]="['/play']">
    Go Back</button>
</mat-card>

<div id="clock" *ngIf="start && !gameOver">
  {{counter}}
</div>

<div class="result">
<mat-card *ngIf="start && gameOver">Your Score: {{score}}<br>Highest Score: {{max1}}</mat-card>
<!-- <mat-card *ngIf="gameOver && score<forignUserScore">Opponent Wins</mat-card>
<mat-card *ngIf="gameOver && score===forignUserScore">It's a Draw</mat-card> -->
</div>