<div>
   <mat-form-field>
      <input matInput placeholder="Enter Name"  >
   </mat-form-field>
   <br>
   <mat-form-field>
      <mat-select placeholder="Enter Country">
        <mat-option *ngFor="let c of country" [value]="c.value" >
            {{c.viewValue}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="email" [pattern]="emailPattern" placeholder="Enter Email">
      <mat-error>Invalid email address.</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password"  minlength="8" placeholder="Set Password(8 chars min.)">
  </mat-form-field>
  <br>
  <div>
    <button mat-raised-button color="primary" type="submit" [routerLink]="['play']">Sign Up</button>
    <button mat-raised-button color="warn" >Give Up</button>
  </div>
</div>
