mat-list-item{
margin-bottom: 5rem;
margin-left:5rem;
}

.play{
background-color: #05668D;
}

button{
  margin-top:3rem;
  margin-left: 18rem;
  height:3rem;
}

button:hover{
  /* background:rgb(238, 122, 87); */
  color:white;
}

.numberOfPlayers{
  margin-top:1rem;
}

@media(max-width: 768px){
  .play{
    background-color: #F0F3BD;
    }

  button{
   margin-top:3rem;
   /* margin-left: 8rem; */
   height:3rem;
   margin-left: 40%;
   background-color: #00A896;
   color: white;
  }
}
