/* mat-list-item{
margin-bottom: 5rem;
margin-left:5rem;
} */
@media(min-width:769px){

  .play{
    background-color: #F0F3BD;
    display: flex;
    height:100vh;
  }

  .logo{
    flex:2;
    background-color: #F0F3BD;
    background-image: url('/src/assets/img/logo3.png');
    background-size: 400px 410px;
    background-position: 45%;
    /* width: 241px;
    height: 241px; */
    background-repeat: no-repeat;
    /* margin: auto; */
  }

  .players{
    flex:1;
    background-color: #05668D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index:100;
    box-shadow: -30px 10px 30px #021C27;
  }

  button::after{
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

button{
  /* margin-top:3rem;
  margin-left: 10rem; */
  margin-top:2rem;
  margin-left: 30%;
  /* height:3rem; */
  font-style: bold;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: #05668D;
  border-radius: 10px;
  color: white;
  width: 50%;
  height:3rem;
  /* transform-style: preserve-3d; */
  transition:0.5s;
  opacity:1
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover{
  color:#05668D;
}
button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
 button:hover:after{
    width: 100%;
}

}

@media(max-width: 768px){
  .play{
    background-color: #F0F3BD;
    }

  button{
   margin-top:3rem;
   /* margin-left: 8rem; */
   height:3rem;
   margin-left: 40%;
   background-color: #00A896;
   color: white;
  }
}

