<div class="login">
  <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]= "name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type= "email" placeholder="email" [(ngModel)]= "email">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="password" minlength="8" placeholder="Password" [(ngModel)]= "password">
  </mat-form-field>
  <br>
  <div>
      <button mat-raised-button color="primary" type="submit"
           [routerLink]="['']" (click)="closeDialog2()" >Signup
      </button>
      <button mat-raised-button color="warn" (click)="closeDialog1()">Close</button>
  </div>
</div>
