/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  background-image: url('/src/assets/img/bg.jpg');
  background-position: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  height: fit-content;
}

@media(max-width: 768px){
  body{
    background-image: url('/src/assets/img/p6.jpg');
    background-position: fixed;
    background-size:100%;
    height: fit-content;
    background-repeat: no-repeat;
    /* background-color: #DE541E; */
  }
}

@media(max-width: 600px){
  body{
    background-image: url('/src/assets/img/p6.jpg');
    /* background-color:#DE541E; */
    background-position: fixed;
    background-size:cover;
    height: fit-content;
    /* background-size: 0%; */
  }
}
