/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
   background-color: #F0F3BD;
}

@media(max-width: 768px){
  body{
    background-color: #F0F3BD;
  }
}

@media(max-width: 600px){
  body{
    background-color: #F0F3BD;
  }
}
