
@media( min-width: 769px){
.homepage{
  background-color: #F0F3BD;
  display: flex;
  height:100vh;
  /* justify-content: space-between; */
   /* background-image: url('/src/assets/img/image1.jpg');
   background-repeat: no-repeat;
   background-size: cover; */
  z-index: -10;
}

.homapage-overlay{
  background-color: black;
  display: flex;
  height:100vh;
}



.logo{
  flex:2;
  background-color: #F0F3BD;
  background-image: url('/src/assets/img/logo3.png');
  background-size: 400px 410px;
  background-position: 45%;
  /* width: 241px;
  height: 241px; */
  background-repeat: no-repeat;
  /* margin: auto; */
  z-index: 100;
  /* box-shadow: 10px 10px 10px #05668D; */

}

.buttons{
  flex:1;
  background-color: #05668D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* opacity: 0; */
  z-index:100;
  box-shadow: -30px 10px 30px #021C27;
}

button{
  margin-top:20%;
 /* margin-left: 20%; */

  /* margin-left: 20vh; */
  font-size: 25px;
  display: block;
  border-radius: 5px;
  background-color:  #F0F3BD;
  width: 70%;
  color: #00A896;
  /* text-align: center; */
  text-decoration: none;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Unlock', cursive;
  font-size: 1.3rem;
}
button:focus{
  outline: none;
}
button:before{
  content:'';
  display:block;
  filter:blur(4px);
}


.homepage button:hover{
  /* background:#02C39A; */
  /* background:#30E3D4; */
  /* color:white; */
  cursor:pointer;
  box-shadow: 10px 10px 10px black;
}

.homepage button:hover:before{
  opacity: 0.6;
  transition: 0.7s;
}


}


@media(max-width: 768px) {
  .homepage{
    background-color: #F0F3BD;
  }

  .buttons{
    background-color: #F0F3BD;
    height: fit-content;
    margin-top: 10%;
    /* opacity: 0; */
  }

  button{
   margin-bottom:10%;
   /* margin-left: 25%;    */
   background-color: #00A896;
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   display: block;
   /* border-radius: 12px; */
   /* width: 60%; */
   margin-left: 15%;
   margin-right: 15%;
   width: 70%;
  }

  .homepage button:hover{
    cursor:pointer;
    box-shadow: 10px 10px 10px black;
  }

  .login{
    margin-top: 25%;
  }

  .logo{
    background-color: #F0F3BD;
    background-image: url('/src/assets/img/logo3.png');
    width: 241px;
    height: 241px;
    background-repeat: no-repeat;
    margin: auto;
  }

}


