
@media( min-width: 769px){
.homepage{
  background-color: #F0F3BD;
  display: flex;
  height:100vh;
  /* justify-content: space-between; */
   /* background-image: url('/src/assets/img/image1.jpg');
   background-repeat: no-repeat;
   background-size: cover; */
}

.logo{
  flex:2;
  background-color: #F0F3BD;
  background-image: url('/src/assets/img/logo3.png');
  background-size: 400px 410px;
  background-position: 45%;
  /* width: 241px;
  height: 241px; */
  background-repeat: no-repeat;
  /* margin: auto; */

}

.buttons{
  flex:1;
  background-color: #05668D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* opacity: 0; */
}

button{
  margin-top:20%;
  margin-left: 20%;
  /* margin: auto; */
  margin-left: 20vh;
  /* height:3rem; */
  font-size: 25px;
  display: block;
  /* border-radius: 12px;  */
  background-color:  #F0F3BD;
  width: 55%;
  color: #00A896;
  /* text-align: center; */
  text-decoration: none;
}

.homepage button:hover{
  background:#02C39A;
  color:white;
}

}


@media(max-width: 768px) {
  .homepage{
    background-color: #F0F3BD;
  }

  .buttons{
    background-color: #F0F3BD;
    height: fit-content;
    margin-top: 10%;
    /* opacity: 0; */
  }

  button{
   margin-bottom:10%;
   margin-left: 25%;   
   background-color: #00A896;
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   display: block;
   /* border-radius: 12px; */
   width: 60%;
  }

  .login{
    margin-top: 25%;
  }

  .logo{
    background-color: #F0F3BD;
    background-image: url('/src/assets/img/logo3.png');
    width: 241px;
    height: 241px;
    background-repeat: no-repeat;
    margin: auto;
  }

}


